<script>
	import Slide from '$lib/deck/slide.svelte';
	import Code from '$lib/deck/code.svelte';
	import Markdown from '$lib/deck/markdown.svelte';
	import Notes from '$lib/deck/notes.svelte';
</script>

<Slide>Horizontal Slide</Slide>

<Slide>
	<Slide animate>
		Vertical Slide 1
		<Code id="code" lines>
			{`
        function love() {}
     `}
		</Code>
	</Slide>
	<Slide>
		Vertical Slide 2
		<Code id="code" lines="2|1-3">
			{`
        function love() {
          console.log('Svelte')
        }
     `}
		</Code>
	</Slide>
</Slide>

<Slide animate>
	<ul>
		<li>React</li>
		<li>Solid</li>
		<li>Svelte</li>
		<li>Vue</li>
	</ul>
</Slide>

<Slide animate>
	<ul>
		<li>Svelte ❤️</li>
		<li>React</li>
		<li>Solid</li>
		<li>Vue</li>
	</ul>
	<Notes>
		<b>Avoid eye contact.</b>
	</Notes>
</Slide>

<Markdown name="example.md" external />
