<script>
	import '../app.postcss';
</script>

<svelte:head>
	<title>Presentation Intro</title>
</svelte:head>

<div class="h-screen bg-black">
	<ul class="w-full pt-12">
		<li>
			<a class="inline-block w-full text-white text-center" href="/demo">Demo</a>
		</li>
		<li>
			<a class="inline-block w-full text-white text-center" href="/talk">Talk</a>
		</li>
	</ul>
</div>
