<script>
	import { Presentation, Slide, Step, Media, Notes } from '@components'
</script>

<svelte:head>
	<title>Presentation Demo</title>
</svelte:head>

<Presentation>
	<Slide>Another Presentation</Slide>

	<Slide animate>
    <p>
      The probability of getting {`\\(k\\)`} heads when flipping {`\\(n\\)`} coins
    </p>

    <Step>
      {`
        \\[P(E) = {n \\choose k} p^k (1-p)^{ n-k} \\]
      `}
    </Step>
  </Slide>

	<Slide>
    <Media
      class="h-[600px] w-full"
      src="https://www.youtube.com/embed/dQw4w9WgXcQ"
      type="iframe"
			autoplay=true
			preload=true
    />
		<Notes>
			<b>Avoid eye contact.</b>
		</Notes>
  </Slide>
</Presentation>
