<script>
	import Presentation from '$lib/deck/presentation.svelte';
	import Slides from '$lib/deck/slides.svelte';
</script>

<svelte:head>
	<title>Presentation Demo</title>
</svelte:head>

<Slides>
	<Presentation />
</Slides>
